<h3>Adicione um usuário</h3>
<form action='/users/create' method='post'>
  <label for='name'>Nome: </label>
  <input type='text' name='name' />
  <label for='occupation'>Ocupação</label>
  <input type='text' name='occupation' />
  <label for='newsletter'>Ver novidades? </label>
  <input type='checkbox' name='newsletter' checked />
  <input type="submit" value="Cadastrar">
</form>