<h1>Criando Tasks</h1>

<br />
<br />

<form action='/tasks/add' method='post'>
  <label for='title'>Título: </label>
  <input type='text' name='title' />
  <br />
  <br />
  <label for='description'>Descrição: </label>
  <input type='text' name='description' />
  <br />
  <br />
  <input type='submit' value='Criar task' />
</form>