<h1>Task</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Descrição</th>
      <th>Realizada</th>
    </tr>
  </thead>
  <tbody>
    {{#each tasks}}
      <tr>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>{{#if this.done}}
          Sim
        {{else}}
          Não
        {{/if}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>