<div style="display: flex; justify-content: center; align-items: center; width: 200px; height: 200px; background-color: cadetblue; padding: 10px; text-align: center;">
  Esse partial sรณ existe no About
</div>