<div style="display: flex; justify-content: center; align-items: center; width: 200px; height: 200px; background-color: seagreen; padding: 10px; text-align: center;">
  Esse partial existe no About e Home
</div>